*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.logo-height{
  height: 40px;
}

.my-color-primary{
    color: #2e63a8;
}

.my-color-primary{
    color: #528aec;
}

.my-bg-primary{
    background-color: #528aec;
}

.nav-link:hover{
    color: #528aec;
}

.jumbo-wrapper{
    overflow: hidden;
    border-radius: 16px;
}

.jumbo-btn{
    background-color: #528aec;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    text-align: center;
    margin-top: 24px;
    cursor: pointer;
    display: block;
    transition: box-shadow 0.2s ease-in-out;
}

.jumbo-btn:hover{
    box-shadow: 0px 0px 10px #528aec;
}



.my-icon{
    background-color: #528aec;
    padding: 5px;
    color: #fff;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px #528aec;
}

.my-icon-2{
    background-color: #222222;
    padding: 5px;
    color: #fff;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-icon-services{
    background-color: #528aec;
    padding: 5px;
    color: #fff;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.my-service-wrapper{
    border: 2px solid aliceblue;
    box-shadow: 0px 0px 10px aliceblue;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
.my-service-wrapper:hover{
    border: 2px solid #528aec;
    background-color: #528aec;
    color: #fff;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
}*/

.my-anchor{
    text-decoration: none;
    width: 100%;
    background-color: #528aec;
    border-radius: 8px;
    padding: 8px;
    color: #fff;
    transition: box-shadow 0.2s ease-in-out;
}

i{
    transition: margin-left 0.1s ease-in-out;
}

.my-anchor:hover{
    box-shadow: 0px 0px 10px #528aec;
}

.my-anchor:hover i{
    margin-left: 16px !important;
}

.my-service-title{
    height: 60px;
}

.contact-img-wrapper {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.contact-img-wrapper img {
    max-width: 100%;
    z-index: 1;
    display: block; /* Ensures the image doesn't get any unexpected margins or padding */
}

.contact-btn{
  width: 100%;
}

@media screen and (min-width:768px) {
  .contact-btn{
    width: 70%;
  }

  .logo-height{
    height: 60px;
  }
}

.contact-img-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 0.24),  /* Darker at the top */
        rgba(0, 0, 0, 0)     /* Fully transparent at the bottom */
    ),
    rgba(34, 34, 34, 0.5); /* Blue overlay with 50% opacity */
    z-index: 2;
    border-radius: 16px;
}

.text-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 3;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

/* SERVICES */

$primary: #528aec;
$text-color: #363738;

.date__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ccc;
  border: 4px solid;
  font-weight: bold;
  padding: 5px 10px;
  .date__day{
    font-size: 22px;
  }
}
.blog-card {
  padding: 30px;
  position: relative;
  .date__box {
    opacity: 0;
    transform: scale(0.5);
    transition: 300ms ease-in-out;
  }
  .blog-card__background,
  .card__background--layer{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .blog-card__background {
    padding: 15px;
    background: white;
  }
  .card__background--wrapper{
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
    position: relative;
    overflow: hidden;
  }
  .card__background--main{
    height: 100%;
    position: relative;
    transition: 300ms ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card__background--layer {
    z-index: 0;
    opacity: 0;
    background: rgba(#333, 0.9);
    transition: 300ms ease-in-out;
  }
  .blog-card__head {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blog-card__info{
    z-index: 10;
    background: white;
    padding: 20px 15px;
    h5 {
      transition: 300ms ease-in-out;
    }
  }

}

.btn {
  background: white;
  color: $text-color;
  font-weight: bold;
  outline: none;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 0;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding: 0;
  border: none;
  border-radius: 8px;
  &:focus {
    box-shadow: none;
  }
  &:hover {
    background: $primary;
    color: #fff;
  }
  &.btn--with-icon {
    padding-right: 20px;
    i {
      padding: 0px 30px 0px 15px;
      margin-right: 10px;
      height: 50px;
      line-height: 50px;
      vertical-align: bottom;
      color: white;
      background: $primary;
      clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
    }
  }
  &.btn--only-icon {
    width: 50px;
  }
}
